header {
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }
  
  .header-content-top {
    background: #545bc4;
    height: 30px;
    width: 100%;
  }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
  }
  .header-content-top .content span {
    color: #fff;
    font-size: 12px;
    margin: 0 15px;
  }
  .header-content-top .content span .fas {
    margin-right: 5px;
  }
  
  .container1 {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
    position: relative;
    width: 100%;
  }
  .container1 .logo {
    color: #545bc4;
    font-size: 40px;
    line-height: 20px;
    padding-right: 15px;
  }
  .container1 .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
  }
  @media (max-width: 991px) {
    .container1 .open-search {
      margin: 0;
      position: static;
      text-align: right;
    }
  }
  .container1 .open-search .fa-search {
    display: none;
  }
  @media (max-width: 991px) {
    .container1 .open-search .fa-search {
      display: block;
    }
  }
  .container1 .open-search .input-open-search {
    display: none;
  }
  .container1 .open-search .input-open-search:checked ~ .search {
    display: block;
  }
  @media (max-width: 991px) {
    .container1 .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999;
    }
  }
  .container1 .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
  .container1 .search .input-search:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
  }
  .container1 .search .button-search {
    background: #545bc4;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .container1 .search .button-search .fa-search {
    display: block;
  }
  .container1 .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .container1 .nav-content .nav-content-list .nav-content-item {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 0 5px;
    position: relative;
    transition: 100ms all linear 0s;
  }
  @media (max-width: 991px) {
    .container1 .nav-content .nav-content-list .nav-content-item {
      padding: 0 5px;
    }
  }
  .container1 .nav-content .nav-content-list .nav-content-item .item-arrow {
    margin-left: 5px;
    position: relative;
    top: -3px;
  }
  @media (max-width: 768px) {
    .container1 .nav-content .nav-content-list .nav-content-item .item-arrow {
      display: none;
    }
  }
  .container1 .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  .container1 .nav-content .nav-content-list .nav-content-item .input-menu {
    display: none;
  }
  .container1 .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
    display: block;
  }
  .container1 .nav-content .nav-content-list .nav-content-item .login-list {
    background: #fff;
    border-bottom: 3px solid #545bc4;
    border-radius: 3px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 28px;
    transition: 100ms all linear 0s;
    width: 200px;
    z-index: 10;
  }
  .container1 .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
    padding: 15px 20px;
  }
  .container1 .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
    background: #545bc4;
  }
  .container1 .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
    color: #fff;
  }
  .container1 .nav-content .nav-content-list .nav-content-item:nth-child(2):hover .fas {
    color: #e74c3c;
  }
  .container1 .nav-content .nav-content-list .nav-content-item:hover .fas {
    color: #545bc4;
  }
  .container1 .nav-content .nav-content-list .account-login .login-text {
    align-items: end;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 5px;
  }
  @media (max-width: 991px) {
    .container1 .nav-content .nav-content-list .account-login .login-text {
      display: none;
    }
  }
  .container1 .nav-content .nav-content-list .account-login .login-text strong {
    display: block;
  }
  .container1 .nav-content .nav-content-list .nav-content-link {
    border-radius: 3px;
    font-size: 19px;
    padding: 10px 15px;
    transition: 100ms all linear 0s;
  }
  @media (max-width: 991px) {
    .container1 .nav-content .nav-content-list .nav-content-link {
      padding: 0;
    }
  }
  .cart-number{
    width: 0px;
    background: red;
    padding: 3px 5px 1px 6px;
    border-radius: 69%;
    height: 47px;
    position: relative;
    top: -8px;
    left: -5px;
    color: #fff ;
  }