
.main-laodin .spinner {
    /* width: 200px;
    height: 200px; */
    margin: 20px auto;
    border: 4px solid rgba(51, 24, 228, 0.1);
    border-left: 4px solid blue;
    border-right: 4px solid blue;
    animation: spinner 1s linear infinite forwards;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
        -ms-border-radius: 50%;
            border-radius: 50%
}

@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(360deg)
    }
}